@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #faf9f7;
    color: #425466;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #0a2540;
  }
}